/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* Переменные светлой темы */
  --accent-color: #FF0070;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --accent-title: #FF8DCB;
  --dec-text: #353430;
  --bg-color: #FFF1F7;    
  --accent-section: #353430;
  --dec-bg: #FF8DCB;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
      /* Дублируем переменные светлой темы */   
      --accent-color: #FF0070;
      --text-color: #353430;
      --bg-image: url(../images/cover-image-light.png);
      --accent-title: #FF8DCB;
      --dec-text: #353430;
      --bg-color: #FFF1F7;
      --accent-section: #353430;
      --dec-bg: #FF8DCB;
  }

  .page.theme_auto .header__dec {
    display: none;
  }

  .page.theme_dark {
      --accent-color: #FF0070;
      --text-color: #F1B2CE;
      --bg-image: url(../images/cover-image-dark.png);
      --accent-title: #DB00FF;
      --dec-text: #000028;
      --bg-color: #000028;
      --accent-section: #FF0070;
      --dec-bg: #FF0070;
    }
}

.page.theme_light .header__dec {
  display: none;
}