/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* Переменные светлой темы */
  --accent-color: #FF0070;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --accent-title: #FFC2E6;
  --dec-text: #353430;
  --bg-color: #FFF1F7;    
  --accent-section: #353430;
  --dec-bg: #FF8DCB;
}

.page.theme_light {
  --accent-color: #FF0070;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --accent-title: #FFC2E6;
  --dec-text: #353430;
  --bg-color: #FFF1F7;
  --accent-section: #353430;
  --dec-bg: #FF8DCB;
  --hover: rgba(54, 53, 48, 0.4);
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
      /* Дублируем переменные светлой темы */   
      --accent-color: #FF0070;
      --text-color: #353430;
      --bg-image: url(../images/cover-image-light.png);
      --accent-title: #FFC2E6;
      --dec-text: #353430;
      --bg-color: #FFF1F7;
      --accent-section: #353430;
      --dec-bg: #FF8DCB;
      --hover: rgba(54, 53, 48, 0.4);
  }

  .header__dec {
    display: none;
  }
}

.page.theme_light .header__dec {
  display: none;
}